[package]
name = "drift"
version = "2.92.0"
edition = "2021"
license = "false"
keywords = ["drift", "drift exchange", "drift-rs"]
description = "false"
homepage = "false"
repository = "https://github.com/mshizzle13/drift"
readme = "README.md"

[dependencies]
anchor-gen = {version = "0.3.1"}
anchor-lang = {version = "0.30.1"}
